<div class="userDetails">
  <h2>User details</h2>
  <a class="btn btn-small btn-warning mr-3" (click)="edit()" *ngIf="isAdminUser">edit</a>
  <a class="btn btn-small btn-warning ml-3" (click)="deleteUser()" *ngIf="isAdminUser">delete</a>
  <div class="bg-warning p-5" *ngIf="message">{{message}}</div>
  <table>
    <tr>
      <td>id</td><td>{{user?.id}}</td>
    </tr>
    <tr>
      <td>name</td><td>{{user?.name}}</td>
    </tr>
    <tr>
      <td>Password</td><td><a class="btn btn-small btn-warning" (click)="resetPassword()">reset</a></td>
      <td *ngIf="passwordMessage"><div [ngClass]="passwordResetSuccess ? 'text-success' : 'text-danger'">{{passwordMessage}}&nbsp;</div></td>
    </tr>
  </table>

  <button class="btn btn-primary float-right mr-5" (click)="clear()">Clear</button>
</div>

